@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    margin: 0.1%;
    padding: 0.1%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "lexend", sans-serif;

}

.barNavegacao{
    background-color: rgb(78, 45, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
}
.barNavegacao a{
    color: rgb(255, 223, 185);
    margin: 14px;
    font-size: 20px;
    font-weight: 1000;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
body {
    background-color: #cdb091;
}
.secao-produtos {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    padding: 25px;
}
.card-produto {
    min-width: 260px;
    background-color: #d8bc9e;
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}